<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<form class="form-inline" name="usersform" novalidate ng-submit="add_users_submit()">
    
    <div class="form-group">
        <label ></label>
        <input type="text" class="form-control"  name="real_name" ng-model="users.real_name"
               placeholder="" >
    </div>
    
    <div class="form-group">
        <label ></label>
        <input type="text" class="form-control"  name="phone_number" ng-model="users.phone_number"
               placeholder="" >
    </div>
    
    <div class="form-group">
        <label ></label>
        <input type="text" class="form-control"  name="email" ng-model="users.email"
               placeholder="" >
    </div>
    
    <div class="form-group">
        <label ></label>
        <input type="text" class="form-control"  name="pwd" ng-model="users.pwd"
               placeholder="" >
    </div>
    
    <button type="submit" class="btn btn-default">Send invitation</button>
</form>